/*CSS Style*/
@font-face {
    font-family: 'gentiumw';
    src: url('fonts/gentium_plus.eot');
    src: url('fonts/gentium_plus.eot?#iefix') format('embedded-opentype'),
         url('fonts/gentium_plus.woff') format('woff'),
         url('fonts/gentium_plus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body	{font-family: 'gentiumw','Gentium Plus','Gentium','Gentium Basic','Times','serif'; color:antiquewhite;}

.dotted {    
    border-bottom: 1px dashed orange;
    text-decoration: none;
}

.tooltip-tip {
	background:antiquewhite;
	color:dimgrey;
	font-size:14px;
	padding:8px;
	display:inline-block;
	font-family:"Arial", sans-serif;
	position:absolute;
	left:0;
	top:0;
}

.tooltip-arrow {
	border-bottom:8px solid antiquewhite;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	position:absolute;
	top:-8px;
}

.psalmlabel	{font-size:1.2em;margin-top:1em;margin-bottom:0.1em;text-indent:0em;text-align:left;font-weight:bold}
span.verse	{white-space:nowrap;vertical-align:super;font-size:.6em;line-height:0;color:orange}
span.wj	{color:LightSalmon}
.mte1,.mt2,.mte2,.mt3,.mte3	{font-weight:bold;font-size:1.2em;text-align:left}
.mt,.mt1,.mte,.mte1	{font-size:1.4em}
.mt2,mte2	{font-size:1.2em}
